<!-- welcome -->
<div class="row">
  <div class="col-lg-12">

    <h2>Welcome back, <%= current_user.name.capitalize %></h2>

  </div>
</div>

<!-- little profile + messages -->
<div class="row">
  <!--profile-->
  <div class="col-lg-4">

  </div>

  <!--messages-->
  <div class="col-lg-8">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Your Messages</h3>
      </div>
      <div class="panel-body">

      <% @tweets.each do |tweet| %>

        <div class="tweet">

          <div class="well well-sm">

            <p>
              <%= image_tag tweet.image_url(:thumb).to_s if tweet.image_url %> <%= tweet.tweet %>
            </p>
            <div class="options">
              <%= link_to tweet_path(tweet), :method => :delete, :confirm => 'Are you sure?' do %>
                <i class="fa fa-trash-o"></i>
              <% end %>

              <%= link_to edit_tweet_path(tweet) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
            </div>

          </div>

        </div>

      <% end %>

      </div>
    </div>

  </div>
</div>