<!-- welcome -->
<div class="row">
  <div class="col-lg-12">
    <h2>Welcome back, <%= current_user.name.split.map(&:capitalize).join(' ') %></h2>

  </div>
</div>

<!-- little profile + messages -->
<div class="row">
  <!--profile-->
  <div class="col-lg-3">
    <%= image_tag current_user.profile_img_url(:thumb).to_s if current_user.profile_img_url %>
  </div>

  <!--messages-->
  <div class="col-lg-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Timeline</h3>
      </div>
      <div class="panel-body">

      <p>
        <%= link_to "Write a New Tweet", new_tweet_path, :class => 'btn btn-primary' %>
      </p>

      <% if @tweets %>

        <% @tweets.each do |tweet| %>

          <div class="tweet">

            <div class="well well-sm">
              <%= link_to user_path(tweet.user), :method => :get do %>
                 <%= tweet.user.name %>
              <% end %>
              &nbsp;
              <span class="badge"><%= time_ago_in_words(tweet.created_at) %></span>

              <p>
                <%= image_tag tweet.image_url(:xsmall).to_s if tweet.image_url %>
                <%= auto_link tweet.tweet %>
              </p>
              <div class="options">
                <%= link_to tweet_path(tweet) do %>
                  <i class="fa fa-eye"></i>
                <% end %>

                <%= link_to edit_tweet_path(tweet) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>

                <%= link_to tweet_path(tweet), :method => :delete, :confirm => 'Are you sure?' do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </div>

            </div>

          </div>

        <% end %>

      <% else %>
        <div class="well well-sm">
          <p>You don't have any Tweet yet. Start writting dude!</p>
        </div>
      <% end %>

      </div>
    </div>

  </div>
</div>

