
<h3> <%= @user.name.split.map(&:capitalize).join(' ') %> </h3>
 <div class="col-lg-3">
  <% if @user.use_gravatar %>
    <%= image_tag avatar_url @user %>
  <% else %>
    <%= image_tag @user.profile_img_url(:thumb).to_s if @user.profile_img_url %>
  <% end %>
</div>

<table  cellpadding="5">
  <tr>
    <td> E-mail: </td>
    <td>
        <%= @user.email%> 
    </td>
  </tr>
  <tr>
    <td> User since: </td>
    <td>
       <%= time_ago_in_words(@user.created_at)%>
    </td>
  </tr>
</table> 

<p style="clear:both;"></p>
<div class="row">
  <div class="col-lg-9">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Friends</h3>
      </div>
      <div class="panel-body">
        <% @user.all_friendships.each do |friendship| %>

          <div class="tweet">
            <div class="well well-sm">
              
              <% if friendship.user == @user %>
                <%= link_to user_path(friendship.friend), :method => :get do %>
                  <%= friendship.friend.name %>
                <% end %>
              <% else %>
                <%= link_to user_path(friendship.user), :method => :get do %>
                  <%= friendship.user.name %>
                <% end %>
              <%end%> 
              <% if  @user == current_user %>
                <%=link_to friendship_path(friendship) , :method => :delete, :class => "btn btn-danger btn-xs" do %>
                    Unfriend 
                <% end %>
              <%end%> 
             
            </div>
          </div>

        <% end %>
      </div>
    </div>

  </div>

</div>