<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Persons who want be your friend </h3>
  </div>
    <div class="panel-body">

      <% if @pending_requests %>
        <% @pending_requests.each do |fr| %>
          <div class="tweet">
            <div class="well well-sm">
              <table  cellpadding="5">
                <tr>
                  <td>
                      <strong><%= fr.sender_user.name %> </strong>  <%= time_ago_in_words(fr.created_at)%>
                  </td>
                  <td>
                    <%= form_for fr , :html => { :class => 'form-inline' } do |f|  %>
                      <%= f.hidden_field :status, value: 'accepted' %>
                      <%= f.submit "Accept", class: "submit btn btn-primary btn-xs" %>
                    <% end %>
                  </td>
                  <td>
                    <%= form_for fr , :html => { :class => 'form-inline' } do |f| %>
                      <%= f.hidden_field :status, value: 'rejected' %>
                      <%= f.submit "Not now", class: "button btn btn-xs" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        <% end %>
      <% else %>
          <p> No new requests </p>
      <% end %>
    </div>
</div>